section.section.mobile-section

    .container.mobile-section__container

        .mobile-section__heading
            h2.mobile-section__title.section-title.
                Mobile version

            p.mobile-section__text.
                Mobile version is convenient and understandable for users.

        .mobile-section__images
            div
                img(src=require("../assets/img/mobile1.png"), alt="")
            div
                img(src=require("../assets/img/mobile2.png"), alt="")
            div
                img(src=require("../assets/img/mobile3.png"), alt="")
            div
                img(src=require("../assets/img/mobile4.png"), alt="")
                img(src=require("../assets/img/mobile5.png"), alt="")
            