mixin badge(text)
    .container
        aside.badge

            .badge__image
                img(src=require("./assets/img/quote.png"), alt="quote")

            p.badge__text= text

mixin sections(sectionClass, wrapperClass)

    section(class=sectionClass)

        .container

            div(class=sectionClass + "__wrapper")
            
                block

mixin dubleSections(sectionClass, title, badge)

    section(class=sectionClass)

        .container

            div(class=sectionClass + "__header")

                h2.concept__title= title

                +badge(badge)

        div(class=sectionClass + "__wrapper")

            .container

                div(class=sectionClass + "__content")
                    block