section.changes 

    .container 

        section.changes__wrapper 

            .changes__header 

                h2 Изменение ленты профиля

                p.
                    Мы изменили концепцию ленты, чтобы больше акцента было на продукции, 
                    которую предлагает компания, а дизайн был продолжением упаковки товара.

            .changes__body 

                picture
                    img(src=require('../../assets/img/changes2.png'), alt="mobile-pic")

                picture
                    img(src=require('../../assets/img/changes3.png'), alt="mobile-pic")

            .changes__footer
                p.
                    К ленте <span class="changes__word">создали закреплённые Stories</span>, чтобы они соответствовали 
                    новой концепции профиля и последним трендам социальных сетей.

                .changes__images
                    picture.changes__image
                        img(src=require("../../assets/img/change5.png"), alt="pic")
                    picture.changes__image
                        img(src=require("../../assets/img/change6.png"), alt="pic")
                    picture.changes__image
                        img(src=require("../../assets/img/change7.png"), alt="pic")
                    picture.changes__image
                        img(src=require("../../assets/img/change8.png"), alt="pic")
                    picture.changes__image
                        img(src=require("../../assets/img/change9.png"), alt="pic")
                    picture.changes__image
                        img(src=require("../../assets/img/change10.png"), alt="pic")


