-
 const tabs = [
    {title: "Самопрезентация"}, 
    {title: "Формирование лояльности"},
    {title: "От общего к частному"},
    {title: "Формирование ценности"},
    {title: "Подсказки пользователям"},
    {title: "Добавление интеграций"},
    {title: "Использование демо-версии"},
    {title: "Упрощение поиска"},
    {title: "Поддержка для разработчиков"},            
  ]
-
  const cards = [
    {
      title: 'Хорошая самопрезентация —<br><span>50% успеха</span>',
      text: 'Мы сделали отдельные блоки, где каждую возможность можно изучить детально, но при этом без излишнего информационного шума. Для этого:',
      list: [
        'Разбили описание на логичные блоки. Краткое введение, описание с картинками и возможностью перейти к странице с полным описанием функции или системы.',
        'Добавили кейсы. Вместо абстрактных объяснений показали, как конкретная функция уже помогает бизнесам решать их задачи.'
      ]
    },
    {
      title: 'Формируем <span>лояльность</span>',
      text: 'Цифры всегда говорят громче слов. Мы представили ключевые показатели и преимущества EMS Sklad в отдельных блоках:',
      list: [
        'Результаты в числах: скорость обработки операций, экономия времени, объёмы выполненных задач.',
        'Быстрый эффект: пользователь за секунды понимает, что продукт действительно решает задачи, а не просто обещает невозможное.'
      ],
      extraText: 'Эти блоки стали своеобразными «якорями доверия».'
    },
     {
      title: 'От общего <span>к частному</span>',
      text: 'Проблема большинства сайтов SaaS-продуктов — перегрузка информацией. Чтобы пользователь не утонул в массиве информации, мы внедрили элементы интерактивности:',
      list: [
        'Гибкая навигация. В каждом блоке с общим описанием есть кнопка «Подробнее,» которая раскрывает детальную информацию.',
        'Адаптация под пользователя. Привлекательный визуал побуждает к изучению, но оставляет выбор: узнать поверхностно или углубиться в детали. Это удобно как для быстрого сканирования, так и для вдумчивого анализа.'
      ],
    },
    {
      title: 'Дизайн, который транслирует <span>ценности</span>',
      text: 'Добавили тонкие графические элементы: линии и точки, которые напоминают схемы автоматизации и сети. Они создают ассоциацию с высокотехнологичной инженерией и интеллектуальной автоматикой'
    },
    {
      title: '<span>Подсказки</span> пользователям',
      text: 'Чтобы направить пользователей к целевому действию, мы создали удобную систему подсказок: зарегистрируйтесь на платформе или оставьте заявку для получения консультации от специалиста. Этот подход помогает мягко подвести к важным действиям, сохраняя фокус на главной цели.'
    },
    {
      title: 'Добавление <span>интеграций</span>',
      text: 'При изучении целевой аудитории стало очевидно, что для бизнеса крайне важны интеграции с популярными платформами, особенно маркетплейсами. Это растущий рынок с множеством поставщиков, и наш подход позволил подчеркнуть конкурентное преимущество системы. Мы выделили специальный блок с интеграциями, который невозможно не заметить, — наглядно, структурировано и убедительно.'
    },
       {
      title: 'Используем <span>демо-версию</span>',
      text: 'В Call to Action, призывах к действию, мы выбрали ненавязчивый подход: вместо прямого призыва к покупке мы предложили консультацию и просмотр демо-версии или бесплатный пробный период. Это специфика бизнеса — решения требуют обсуждения. Чтобы пользователей не отталкивали формы обратной связи, оставили минимальное количество полей и указали факты об опыте компании, пользе для бизнеса от системы.'
    },
       {
      title: 'Упрощаем <span>поиск</span>',
      text: 'Мы знаем, что поиск информации на сайте иногда приносит больше проблем, чем пользы. Поэтому разработали систему, которая действительно помогает. Результаты поиска разбиваются на логичные категории. Для популярных запросов создана отдельная страница, которая позволяет сразу найти ответ на интересующий вопрос.'
    },
    {
      title: 'Поддержка  <span>для разработчиков</span>',
      text: 'Учитывая, что часть аудитории — это разработчики, которые работают с системой на стороне клиента, мы создали отдельный полноценный раздел «Поддержка». Здесь открытая база знаний, документация по API и детализированные инструкции. Вся информация визуально организована по категориям, а встроенный поиск делает её доступной. Теперь разработчики не просто работают с системой, а рекомендуют её, потому что все процессы понятны и предсказуемы.'
    }
  ]

section.tabSection
  .tabSection__tabs
    each tab in tabs
     span.tabSection__tab=tab.title
  .tabSection__container
    each card in cards
      .tabSection__card
        .tabSection__card-content
          h2.tabSection__title !{card.title}
          if card.text
            .tabSection__text=card.text
          if card.list
            .tabSection__list
              each item in card.list
                .tabSection__list-item=item
          if card.extraText
            .tabSection__text=card.extraText